# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [2]:
Data_1="Hello World"
print(Data_1)

Hello World

In [3]:
_Data1="Hello"
print(_Data1)

Hello

In [4]:
1_Data="Hello"
print(1_Data)

SyntaxError: invalid decimal literal (3392105791.py, line 1)

### Print a message

In [5]:
message="Welcome to programming with Python"
print(message)

Welcome to programming with Python

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [6]:
simpleMessage="Python is very interesting!!"
print(simpleMessage)

Python is very interesting!!

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [7]:
" "

' '

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
# make uppercase
message=" Python Programming Language "
message.upper()

' PYTHON PROGRAMMING LANGUAGE '

In [9]:
# make lowercase
message.lower()

' python programming language '

In [12]:
# capitalize
message=" Python Programming Language "
message.capitalize()

' python programming language '

In [13]:
# title
message.title()

' Python Programming Language '

In [7]:
# Concatination
message=" Python Programming Language "
print("Weclome to"+message.lower())

Weclome to python programming language

In [16]:
# length
len(message)

29

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [18]:
name="Friend"
print("Hello "+name+" how are you today?")

Hello Friend how are you today?

In [20]:
print("My friend's name in lower case: "+name.lower())

My friend's name in lower case: friend

In [21]:
print("My friend's name in lower case: "+name.upper())

My friend's name in lower case: FRIEND

In [22]:
print("My friend's name in lower case: "+name.title())

My friend's name in lower case: Friend

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [24]:
print("Insert a newline character in a string. \nWhen the string is displayed, \nfor each newline, \nmove the screen cursor to the beginning of the next line.")

Insert a newline character in a string.
When the string is displayed,
for each newline,
move the screen cursor to the beginning of the next line.

In [31]:
print("Insert a horizontal tab. \tWhen the string is displayed, \tfor each tab, \tmove the screen cursor to the next tab stop.")

Insert a horizontal tab. 	When the string is displayed, 	for each tab, 	move the screen cursor to the next tab stop.

In [28]:
print("His name is \"Eric\"")

His name is "Eric"

In [8]:
print("List of chapters: \n\tString \n\tList \n\tTuple \n\tControl Stucture")

List of chapters:
	String
	List
	Tuple
	Control Stucture

## Useful methods for split a string

In [35]:
message

' Python Programming Language '

In [36]:
message.split(sep=" ")

['', 'Python', 'Programming', 'Language', '']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [38]:
message = " Programming Language "

In [39]:
message.strip()

'Programming Language'

In [40]:
message.lstrip()

'Programming Language '

In [41]:
message.rstrip()

' Programming Language'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [47]:
name= " s\ta\tm\ti\ta "
print(name)

 s	a	m	i	a

In [48]:
print(name.lstrip())

s	a	m	i	a

In [49]:
print(name.rstrip())

 s	a	m	i	a

In [50]:
print(name.strip())

s	a	m	i	a

#### Replacing words or characters of a string

In [51]:
message1="Python Programing Language"
print(message1)

Python Programing Language

In [56]:
message2=message1.replace("Python", "JAVA")
print(message2)

JAVA Programing Language

In [57]:
message1.replace("P", "i")

'iython irograming Language'

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [9]:
3+4.66

7.66

In [10]:
3-3.55

-0.5499999999999998

In [11]:
3*4

12

In [13]:
print("The exponent: ", 2**3) #2^3

The exponent:  8

In [14]:
print("The exponent of 5 square is: ", 5**2)

The exponent of 5 square is:  25

In [15]:
print("True Division", 5/2)

True Division 2.5

In [19]:
print("Floor Divion", 7//2)

Floor Divion 3

In [20]:
print("The modulo/ Remainder", 3%2)

The modulo/ Remainder 1

In [23]:
print("The modulo/ Remainder", 57%3)

The modulo/ Remainder 0

## Avoiding Type Errors with the str() Function

In [28]:
age=21
name="Ella"
print("The age of "+name+" is "+str(age))

The age of Ella is 21

In [31]:
age=21
name="Ella"
print("The age of "+name+" is", age)

The age of Ella is 21

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [32]:
print("The addition is", 53+38)

The addition is 91

In [34]:
print("The subtraction is", 100-9)

The addition is 91

In [35]:
print("The multiplication is", 91*1)

The multiplication is 91

In [38]:
print("The division is", 91//1)

The division is 91

In [37]:
favoriteNumber=3
print("My favorite number is", favoriteNumber)

My favorite number is 3

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [40]:
flower_name=input("Enter your favorite flower's name: ")

Enter your favorite flower's name: rose

In [41]:
favorite_day=input("Enter your favorite day: ")

Enter your favorite day: friday

In [42]:
type(flower_name)

str

In [43]:
type(favorite_day)

str

In [44]:
fav_number=input("Enter your favorite number: ")

Enter your favorite number: 5

In [45]:
type(fav_number)

str

In [46]:
fav_number=int(input("Enter your favorite number: "))

Enter your favorite number: 5

In [47]:
type(fav_number)

int

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [49]:
number=float(input("Enter a real number/ floating point number: "))

Enter a real number/ floating point number: 12.33

In [51]:
print(type(number))

<class 'float'>

In [53]:
type(number)

float

## Checking the data type using `type` function

In [54]:
number=23
name="Samia"
print(type(number))
print(type(name))

<class 'int'>
<class 'str'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [55]:
print("This is an error message)

SyntaxError: EOL while scanning string literal (4208419820.py, line 1)

In [56]:
print("This is an error message")

This is an error message

In [58]:
len("Hello")=5

SyntaxError: cannot assign to function call (900386329.py, line 1)

In [60]:
len("Hello")

5

In [59]:
1="Python"

SyntaxError: cannot assign to literal (879428856.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [61]:
15/0

ZeroDivisionError: division by zero

In [63]:
amount=input("Enter the total amount before tax: ")
tax=0.06
print("The total is: ", amount*tax+Amount)

Enter the total amount before tax: 23

TypeError: can't multiply sequence by non-int of type 'float'

In [64]:
amount=int(input("Enter the total amount before tax: "))
tax=0.06
print("The total is: ", amount*tax+Amount)

Enter the total amount before tax: 23

NameError: name 'Amount' is not defined

In [65]:
amount=int(input("Enter the total amount before tax: "))
tax=0.06
print("The total is: ", amount*tax+amount)

Enter the total amount before tax: 23
The total is:  24.38

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [67]:
number1=int(input("Enter a integer number: "))
number2=float(input("Enter a floating point number: "))
print("The multiplication of number1 and number2 is: ", number1+number2)

Enter a integer number: 34
Enter a floating point number: 56.22
The multiplication of number1 and number2 is:  90.22

In [68]:
print("The multiplication of number1 and number2 is: ", number1*number2)

The multiplication of number1 and number2 is:  1911.48