# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [2]:
data1=dict() #empty dictionary
type(data1)

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [3]:
data={'Alabama':'Montegomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Salem'} #Key:Value

In [4]:
data['Kentucky']

'Frankfort'

In [5]:
data['Alabama']

'Montegomery'

In [6]:
data['Louisiana'] #If you are accesssing a key which is not present, it raises a keyError

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [44]:
day={1: 'Monday',
    2: 'Tuesday',
    4:['Thursday','Friday'],
    5: ('Saturday','Sunday')}

In [45]:
#Monday
day[1]

'Monday'

In [46]:
#Friday
day[4][1] #[Key][Index]

'Friday'

In [47]:
#Saturday
day[5][0]

'Saturday'

In [48]:
#[Thursday, Friday]
day[4]

['Thursday', 'Friday']

#### Update values as key is unique and imutable, value is mutable

In [12]:
#Update Sunday to Holiday
day[5][1]='Holiday' #Tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [13]:
#Update Thursday to Holiday
day[4][0]='Holiday'

In [14]:
#Update Monday to Holiday
day[1]='Holiday'

In [15]:
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [16]:
data

{'Alabama': 'Montegomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [17]:
data.get('Arizona') #.get looking for the key to return the valye

'Pheonix'

In [18]:
data.get('Louisiana') #not generating an error and that's how it is different from access an element by its key

In [19]:
#Update old value to new and add new key vlue pair
print(data)
data.update({'Kentucky':'Louisville', 'Louisiana':'Baton Rouge'})

{'Alabama': 'Montegomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [20]:
print(data)

{'Alabama': 'Montegomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [21]:
data.update({'alabama':'Montegomery'}) #only way to update key
print(data)

{'Alabama': 'Montegomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montegomery'}

### Delete dictionary items using `del` and `pop`

In [22]:
data

{'Alabama': 'Montegomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montegomery'}

In [23]:
del data['Alabama'] #old Alabama deleted

In [24]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montegomery'}

In [25]:
delete_state=data.pop('Arizona')
print('Deleted capitol:', delete_state)

Deleted capitol: Pheonix

In [26]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montegomery'}

In [27]:
#delete salem, Ohio
data.pop('Ohio')
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montegomery'}

In [28]:
#delete montegomery, alabama
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montegomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [29]:
del data #entire dictionary deleted

In [30]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [31]:
data={'Alabama':'Montegomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Salem'} #Key:Value

In [32]:
#Number of elements/value in a dictionary
len(data)

5

In [33]:
#Extract keys
print(data.keys())
type(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

dict_keys

In [34]:
#Extract values
print(data.values())
type(data.values())

dict_values(['Montegomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

dict_values

In [35]:
#Extract item/Key value pair
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montegomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [36]:
data

{'Alabama': 'Montegomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [37]:
#loop through the dictionary keys
for i in data.keys(): #unpack dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [38]:
#loop through the dictionary values
for j in data.values():
    print(j)
    print(type(j))

Montegomery
<class 'str'>
Pheonix
<class 'str'>
Atlanta
<class 'str'>
Frankfort
<class 'str'>
Salem
<class 'str'>

In [39]:
#Loop through the dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montegomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [40]:
#Tuple unpacking
for i, j in data.items():
    print("State:", i, "Capitol:", j)
    print(type(i), type(j))

State: Alabama Capitol: Montegomery
<class 'str'> <class 'str'>
State: Arizona Capitol: Pheonix
<class 'str'> <class 'str'>
State: Georgia Capitol: Atlanta
<class 'str'> <class 'str'>
State: Kentucky Capitol: Frankfort
<class 'str'> <class 'str'>
State: Ohio Capitol: Salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [41]:
data

{'Alabama': 'Montegomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [42]:
list(data.values()) #converted values from dictionary to a list

['Montegomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [43]:
tuple(data.keys()) #converted keys from dictioanry to a tuple

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [1]:
favorite_language={
    'Jen':['Python','Ruby'],
    'sarah':['C'],
    'edward':['Ruby','Java'],
    'Phil':['Python','Haskell']
}

In [5]:
for name, languages in favorite_language.items():
    print("\n"+name.title()+"\'s favorite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favorite languages are:
			Python
			Ruby

Sarah's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Phil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [6]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton',
    },
    'mcurie':{
        'first':'mary',
        'last':'curie',
        'location':'paris',
    }
}

In [7]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'mary', 'last': 'curie', 'location': 'paris'}}

In [14]:
for username, user_info in user.items():
    print("\nUser Name: ", username)
    full_name=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ full_name.title())
    print("The location is: "+ location.title())

User Name:  einstein
The full name is: Albert Einstein
The location is: Princeton

User Name:  mcurie
The full name is: Mary Curie
The location is: Paris